@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Google-Sans";
    src: url("../public/Assets/Fonts/GoogleSans-Medium.ttf");
  }

/* .temp{
    color: rgb(49, 49, 49)
} */