@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google-Sans";
  src: url("../public/Assets/Fonts/GoogleSans-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}


path.active-state{
  fill: rgb(94, 255, 0) !important;
  transition: all;
  transition-duration: 500ms;
  scale: 0.99;
}